<div class="design">
<div class="row">
	<div class="large-12 columns" style="height:30px;"></div>
</div>
    <div class="row">
      <div class="large-5 large-centered columns">
        <h1 id ="mashd"><span data-tooltip class="has-tip tip-left radius" title="<span style='font-size:1.2em;'><b>facebook</span>" >M</span><span data-tooltip class="has-tip tip-top radius" title="<span style='font-size:1.2em;color:#2daddc;'><b>Twitter</span>" >a</span><span data-tooltip class="has-tip radius" title="<span style='font-size:1.3em;'><b><span style='color:#DA1421;'>I</span><span style='color:#DFB405;'>n</span><span style='color:#6BB47D;'>s</span><span style='color:#407EE5;'>t</span><span style='color:#D9AB73;'>a</span>gram</span>">s</span><span data-tooltip class="has-tip tip-top radius" title="<span style='font-size:1.3em;color:#00bf8f;'><b>Vine</span>">h</span><span data-tooltip class="has-tip tip-right radius" title="<span style='font-size:1.3em;'><b>Whats Next?</span>">'D</span>
        </h1>
      </div>  
    </div>
        <div class="row">
        <form ng-submit="login()" src="">
          <div class="large-3 large-centered columns">
            <!--<form action="login.php" method="post" name="logForm" id="logForm" >-->
            <input type="text" name="username" placeholder="username" ng-model="credentials.username" required/>
            <input type="password" name="password" placeholder="password" ng-model="credentials.password" required/>
            <input class="round button expand" name="doLogin" value="Login" type="submit" id="doLogin3"/>
            <!--</form>-->
          </div>
		</form>
        <div class="row">
          <div class="large-3 large-centered columns">
          <a href="register.php">Register-</a>
          <a href="forgot.php">Forgot Password</a> 
        </div>
	</div>
	</div>