<div class="iosHead fixed tob-bar"></div>
<div class="settingsHead row">
    <a class="settingsButton" href="#/myaccount"><img src="images/back.svg"/></a>
    <a class="saveButton" ng-click="save()">Save</a>
    <!--<img src="images/stache.svg"/>-->
</div>
<div class="saveCheck"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="70px" height="70px" viewBox="0 0 512 512" fill="#000000"><path d="M 256.00,0.00C 114.615,0.00,0.00,114.615,0.00,256.00s 114.615,256.00, 256.00,256.00s 256.00-114.615, 256.00-256.00S 397.385,0.00, 256.00,0.00z M 208.00,416.00L 102.00,278.00l 47.00-49.00l 59.00,75.00 l 185.00-151.00l 23.00,23.00L 208.00,416.00z"></path></svg></div>
<div class="socials">
<div class="row socialAccounts">Facebook
  <div class="onOff switch round">
    <input id="x1" name="switch-x" type="radio" class="fbCheckedin" ng-click="aLogout(facebookURL)">
    <label for="x1"  onclick="">Off</label>
    <input id="x" name="switch-x" type="radio" class="fbCheckedout" ng-click="aLogin(facebookURL)">
    <label for="x"  class="socialLabel" onclick="">On</label>
    <span></span>
  </div>
</div><hr>
<div class="row socialAccounts">Vine
  <div class="onOff switch round">
    <input id="y" name="switch-y" type="radio" class="checkedinvi" ng-click="aLogout(vineURL)">
    <label for="y"  onclick="">Off</label>
    <input id="y1" name="switch-y" type="radio" class="checkedoutvi" ng-click="aLogin(vineURL)">
    <label for="y1"  class="socialLabel" onclick="">On</label>
    <span></span>
  </div>
</div><hr>
<div class="row socialAccounts">Twitter
   <div class="onOff switch round">
    <input id="z" name="switch-z" type="radio" class="checkedintw" ng-click="aLogout(twitterURL)">
    <label for="z"  onclick="">Off</label>
    <input id="z1" name="switch-z" type="radio" class="checkedouttw" ng-click="aLogin(twitterURL)">
    <label for="z1" class="socialLabel" onclick="">On</label>
    <span></span>
  </div>
</div><hr>
    <div class="row socialAccounts">Instagram
      <div class="onOff switch round">
    <input id="w" name="switch-w" type="radio" class="checkedinig" ng-click="aLogout(instagramURL)">
    <label for="w"  onclick="">Off</label>
    <input id="w1" name="switch-w" type="radio" class="checkedoutig" ng-click="aLogin(instagramURL)">
    <label for="w1"  class="socialLabel" onclick="">On</label>
    <span></span>
  </div>
    </div>
    </div>
    <!--<p><a href="#">Reddit Login</a></p>-->
<div class="row changeSettings">
  <div class="large-5 large-centered columns"><h4>Login Settings</h4></div>
  <div class="large-5 large-centered columns">
<input type="password" class="socialSettings" ng-model="newCredentials.password" placeholder="New Password"/><br/>
<input type="password" class="socialSettings"ng-model="newCredentials.retype" placeholder="Re-Type New Password"/><br/>
<input type="text" class="socialSettings" ng-model="newCredentials.email" placeholder="Change Email"/><br/>
<a ng-click="changeSettings()" class="changesSaved button round expand">Save Settings</a>
</div>
</div>
<dic class="row">
<div class="large-5 large-centered columns">
<a href="logout.php"  class="button round expand alert">Logout</a>
</div>
</div>
